extends layout

block content
	h3 Display Data (Beta)
	ul
		li 
			a(href='/display') Display Coclustering Graph
		li
			a(href='/vivatest') Display Vivagraph Test
	hr
	hr
	h3 Events
	ul
		- each event in events 
			li 
				a(href='/timeline/#{event}/all/all') #{event}
	hr
	hr
	h3 Actions
	ul
		if user_role == 'Admin'
			li
				a(href='/admin') Admin
		li 
			a(href='/logout') Logout