extends layout

block content
	h3 Events
	ul
		- each event in events 
			li 
				a(href='/timeline/#{event}/all') #{event}
	hr
	hr
	h3 Actions
	ul
		if user_role == 'Admin'
			li
				a(href='/admin') Admin
		li 
			a(href='/logout') Logout