extends layout

block content
	h1.title Add user
	form(action='/manageusers/new', method='post', role='form', style='width: 50%', enctype='multipart/form-data')
		.form-group
			label(for='username') Username
			input.form-control(type='text',id='username',name='username',placeholder='Enter username')
		.form-group
			label(for='password') Password
			input.form-control(type='password',id='password',name='password',placeholder='Password')
		.form-group
			label(for='password') Role
			select.form-control(type='role',id='role',name='role')
				option Admin
				option None
		button.btn.btn-primary(type='submit') Submit
	hr
	hr
	h1.title Manage rels
	table.table.table-striped
		tr
			th Username
			th Role
			th
			th
		- each user in data
			tr
				td #{user.username}
				td #{user.role}
				td
					a(href='#') Edit
				td
					a(href='manageusers/del/#{user._id}') Delete