div(ng-controller="histogramController", ng-init="init()")

	md-toolbar.md-primary
		h2.md-flex Showing Histogram data

	md-content.autoScroll(layout-padding='')

	md-content#mynetworkcontainer(flex layout-padding)
		div(id="histogramX" style="min-width: 310px; height: 800px; max-width: 1200px; margin: 0 auto")
		div(id="histogramY" style="min-width: 310px; height: 800px; max-width: 1200px; margin: 0 auto")
