extends layout

block content

	script(src="js/vivagraph.js")

	div(class="panel panel-default")
		div(class="panel-heading")
			| Showing data for Ebola: Tags vs. Memes (Demo)
		div(class="panel-body")
			div(id='graphContainer')
	script(src='js/graph_helpers.js')
	script(src='js/vivatest.js')

	