body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tags h5 {
	height: 36px;
	overflow: hidden;
}

.rel {
	text-align: center;
	margin-right: 20px;
}

.rel .row .col-md-12:nth-child(3) {
	border-bottom: 1px solid #939393;
}

.title {
	margin-bottom: 50px;
	font-style: italic;
}

.col-md-12 {
	margin-bottom: 10px;
}

.Hidden {
	visibility: hidden;
}

.videoTrigger {
	cursor: pointer;
}

.tags {
	margin-top: 10px;
}

.labels {
	text-align: center;
	margin-top: 170px;
}

.video-player {
	width: 80%;
}

.imageContent {
	width: 100%;
}

body .modal-lg {
    width: 60%; /* respsonsive width */
}

#slideoptions {
	width: 100%;
	background-color: black;
	margin-top: 50px;
	padding: 10px 40px 15px 110px;
}

#slideoptions ul li {
	cursor: pointer;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
	display: inline;
	margin: 0px 0px 0px 100px;
	color: #696969;
}

#slideoptions ul li.active {
	color: #d3d3d3;
}

.NoDisplay {
	display: none;
}

.login-container {
	width: 50%;
	margin: auto;
	border: 1px solid #939393;
	padding: 30px;
	border-radius: 10px;
}

.vco-storyjs .col-md-12 img {
	height: 112px;
}